<div *ngIf="movie">
  <div class="text-4xl font-bold mx-auto text-center mt-[5%] text-white">
    {{movie.title}}
  </div>
  <div class="flex content-center flex-col md:ml-[25%] transition-all">
    <div class="flex mt-12 gap-20">
      <div><img src="{{baseUrl}}{{movie.poster_path}}" alt=""></div>
      <div class="border border-2 border-blue-200 w-[500px] md:w-[800px] text-sm md:text-xl text-white">
        <table> 
          <tr>
            <td class="p-5 font-semibold">Overview:</td>
            <td class="px-10 py-4">{{movie.overview || "Not Available"}}</td>
          </tr>
          <tr>
            <td class="p-5 font-semibold">Rating:</td>
            <td class="px-10 py-4">{{movie.vote_average || 'Not Available'}}</td>
          </tr>
          <tr>
            <td class="p-5 font-semibold">Genres:</td>
            <td class="px-10 py-4">{{movieGenres.toString().split(',').join(', ') || "Not Available"}}</td>
          </tr>
          <tr>
            <td class="p-5 font-semibold">Runtime:</td>
            <td class="px-10 py-4">{{movie.runtime + " minutes" || "Not Available"}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>